In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\api_data_aadhar_biometric_0_500000.csv')
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

#Do we have multiple dates per district?

In [5]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [6]:
df['date'].dtype

dtype('<M8[us]')

In [7]:
df['date'].nunique()

17

## STATE

In [8]:
df['date'].min(), df['date'].max()

(Timestamp('2025-01-03 00:00:00'), Timestamp('2025-12-09 00:00:00'))

In [9]:
df['state'] = df['state'].str.strip()

In [10]:
# state
df.groupby('state')['date'].nunique().describe()

count    56.000000
mean     13.785714
std       5.786235
min       0.000000
25%      15.000000
50%      17.000000
75%      17.000000
max      17.000000
Name: date, dtype: float64

In [11]:
sorted(df['state'].unique())

['Andaman & Nicobar Islands',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhatisgarh',
 'Chhattisgarh',
 'Dadra & Nagar Haveli',
 'Dadra and Nagar Haveli',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Daman & Diu',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'ODISHA',
 'Odisha',
 'Orissa',
 'Pondicherry',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'Uttaranchal',
 'WEST BENGAL',
 'WESTBENGAL',
 'West  Bengal',
 'West Bangal',
 'West Bengal',
 'West bengal',
 'Westbengal',
 'andhra pradesh',
 'odisha',
 'west Bengal']

In [12]:
df['state'].str.lower().nunique()

49

In [13]:
df['state'] = df['state'].str.title()

In [14]:
df['state'].value_counts()

state
Tamil Nadu                                  46553
Andhra Pradesh                              44995
Uttar Pradesh                               42938
Maharashtra                                 40479
Karnataka                                   38324
West Bengal                                 36724
Kerala                                      25502
Gujarat                                     24664
Odisha                                      24455
Bihar                                       23057
Rajasthan                                   21993
Telangana                                   21823
Madhya Pradesh                              19040
Punjab                                      13152
Assam                                       12985
Jharkhand                                    9842
Chhattisgarh                                 8430
Himachal Pradesh                             7327
Haryana                                      6936
Uttarakhand                                  5941
Jammu And Kashmir                            4820
Orissa                                       3590
Delhi                                        2600
Tripura                                      2191
Manipur                                      1751
Goa                                          1432
Meghalaya                                    1252
Arunachal Pradesh                            1219
Nagaland                                     1055
Mizoram                                      1014
Puducherry                                    744
Sikkim                                        738
Pondicherry                                   635
Chandigarh                                    469
Andaman And Nicobar Islands                   380
Ladakh                                        179
Lakshadweep                                   144
Andaman & Nicobar Islands                     137
Daman And Diu                                 123
Dadra And Nagar Haveli                         94
Dadra And Nagar Haveli And Daman And Diu       75
Jammu & Kashmir                                74
Daman & Diu                                    70
Dadra & Nagar Haveli                           26
West Bangal                                    15
Westbengal                                      7
West  Bengal                                    4
Uttaranchal                                     1
Chhatisgarh                                     1
Name: count, dtype: int64

In [15]:
df['state'].value_counts().count()

np.int64(49)

In [16]:
state_corrections = {
    "Orissa": "Odisha",
    "Pondicherry": "Puducherry",
    "Jammu & Kashmir": "Jammu And Kashmir",
    "Daman & Diu": "Daman And Diu",
    "Dadra & Nagar Haveli": "Dadra And Nagar Haveli",
    "West Bangal": "West Bengal",
    "Westbengal": "West Bengal",
    "West  Bengal": "West Bengal",
    "Uttaranchal": "Uttarakhand",
    "Chhatisgarh": "Chhattisgarh",
    "Andaman & Nicobar Islands": "Andaman And Nicobar Islands"
}
df['state'] = df['state'].replace(state_corrections)

In [17]:
df['state'].nunique()

38

In [18]:
sorted(df['state'].unique())

['Andaman And Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra And Nagar Haveli',
 'Dadra And Nagar Haveli And Daman And Diu',
 'Daman And Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu And Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

# issue
These three are the issue:

Dadra And Nagar Haveli
Daman And Diu
Dadra And Nagar Haveli And Daman And Diu

As of 2020, the first two were merged into:
Dadra And Nagar Haveli And Daman And Diu

In [19]:
state_merge = {
    "Dadra And Nagar Haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "Daman And Diu": "Dadra And Nagar Haveli And Daman And Diu"
}

df['state'] = df['state'].replace(state_merge)

In [20]:
df['state'].nunique()

36

In [21]:
df['state'].value_counts().sort_index()

state
Andaman And Nicobar Islands                   517
Andhra Pradesh                              44995
Arunachal Pradesh                            1219
Assam                                       12985
Bihar                                       23057
Chandigarh                                    469
Chhattisgarh                                 8431
Dadra And Nagar Haveli And Daman And Diu      388
Delhi                                        2600
Goa                                          1432
Gujarat                                     24664
Haryana                                      6936
Himachal Pradesh                             7327
Jammu And Kashmir                            4894
Jharkhand                                    9842
Karnataka                                   38324
Kerala                                      25502
Ladakh                                        179
Lakshadweep                                   144
Madhya Pradesh                              19040
Maharashtra                                 40479
Manipur                                      1751
Meghalaya                                    1252
Mizoram                                      1014
Nagaland                                     1055
Odisha                                      28045
Puducherry                                   1379
Punjab                                      13152
Rajasthan                                   21993
Sikkim                                        738
Tamil Nadu                                  46553
Telangana                                   21823
Tripura                                      2191
Uttar Pradesh                               42938
Uttarakhand                                  5942
West Bengal                                 36750
Name: count, dtype: int64

## DISTRICT

In [22]:

df.groupby('district')['date'].nunique().describe()

count    945.000000
mean      15.522751
std        3.770391
min        0.000000
25%       16.000000
50%       17.000000
75%       17.000000
max       17.000000
Name: date, dtype: float64

In [23]:
df['district'] = df['district'].str.strip()
df['district'] = df['district'].str.title()
df['district'].nunique()

925

In [24]:
df['district'].value_counts().sort_values().head(60)

district
Domjur                             1
Tiswadi                            1
Bijapur(Kar)                       1
West Medinipur                     1
Bally Jagachha                     1
East Midnapur                      1
Mahoba *                           1
Bagpat                             1
Nicobars                           1
Bengaluru Rural                    1
Hooghiy                            1
Udupi *                            2
Namchi                             2
Tuticorin                          2
Burdwan                            2
Rajauri                            2
Leh (Ladakh)                       2
South Dumdum(M)                    2
Hingoli *                          2
Hnahthial                          3
Leparada                           3
Mahrajganj                         3
Dima Hasao                         3
South 24 Pargana                   3
Hawrah                             3
Manendragarhchirmiribharatpur      3
Raebareli                          3
Jaintia Hills                      4
Eastern West Khasi Hills           4
Khawzawl                           4
Warangal (Urban)                   5
Tseminyu                           5
Mohalla-Manpur-Ambagarh Chowki     5
Kushinagar *                       6
Tirupathur                         6
Saitual                            6
Lahaul And Spiti                   6
Bajali                             8
Bhabua                             9
Bardez                            10
Medinipur                         11
Bengaluru South                   13
Chamarajanagar *                  13
Niuland                           13
Medchal?Malkajgiri                14
Kamle                             14
Meluri                            14
Pakke Kessang                     16
Shamator                          16
Shi-Yomi                          18
Deeg                              19
South East Delhi                  19
Najafgarh                         20
Tamulpur District                 20
Dibang Valley                     20
Noklak                            20
Anjaw                             21
Sheikpura                         21
Janjgir - Champa                  21
Upper Subansiri                   21
Name: count, dtype: int64

In [25]:
df.groupby('state')['district'].nunique().sort_values(ascending=False)

state
Uttar Pradesh                               87
Madhya Pradesh                              60
Karnataka                                   53
Maharashtra                                 51
West Bengal                                 47
Bihar                                       46
Andhra Pradesh                              45
Tamil Nadu                                  43
Telangana                                   40
Chhattisgarh                                40
Gujarat                                     39
Odisha                                      38
Assam                                       37
Rajasthan                                   37
Jharkhand                                   32
Punjab                                      27
Jammu And Kashmir                           25
Arunachal Pradesh                           25
Haryana                                     23
Nagaland                                    17
Kerala                                      15
Uttarakhand                                 15
Himachal Pradesh                            14
Meghalaya                                   13
Delhi                                       13
Mizoram                                     12
Manipur                                     11
Tripura                                      9
Sikkim                                       9
Puducherry                                   6
Andaman And Nicobar Islands                  5
Dadra And Nagar Haveli And Daman And Diu     4
Goa                                          4
Chandigarh                                   2
Ladakh                                       2
Lakshadweep                                  1
Name: district, dtype: int64

##PINCODE

In [26]:
# Pincode
df.groupby('pincode')['date'].nunique().describe()

count    19509.000000
mean        14.377979
std          3.176178
min          0.000000
25%         14.000000
50%         15.000000
75%         16.000000
max         17.000000
Name: date, dtype: float64

In [27]:
df['district'] = (
    df['district']
    .str.strip()
    .str.lower()
    .str.replace(r'\*', '', regex=True)
    .str.replace(r'\(.*?\)', '', regex=True)
    .str.replace(r'\s+', ' ', regex=True)
)

In [28]:
district_map = {
    "allahabad": "prayagraj",
    "faizabad": "ayodhya",
    "gulbarga": "kalaburagi",
    "osmanabad": "dharashiv",
    "mysore": "mysuru",
    "baleshwar": "baleswar"
}

In [29]:
df['district'] = df['district'].str.replace(
    "twenty four", "24", regex=False
)

In [30]:

df.groupby('district')['date'].nunique().describe()

count    919.000000
mean      15.761697
std        3.385991
min        0.000000
25%       16.000000
50%       17.000000
75%       17.000000
max       17.000000
Name: date, dtype: float64

In [31]:
df.groupby('state')['district'].nunique().sort_values(ascending=False)

state
Uttar Pradesh                               87
Madhya Pradesh                              60
Karnataka                                   52
Maharashtra                                 49
Bihar                                       45
West Bengal                                 45
Andhra Pradesh                              45
Tamil Nadu                                  43
Telangana                                   40
Chhattisgarh                                40
Gujarat                                     39
Odisha                                      38
Assam                                       37
Rajasthan                                   37
Jharkhand                                   32
Punjab                                      27
Jammu And Kashmir                           25
Arunachal Pradesh                           25
Haryana                                     23
Nagaland                                    17
Kerala                                      15
Uttarakhand                                 15
Himachal Pradesh                            14
Meghalaya                                   13
Delhi                                       13
Mizoram                                     12
Manipur                                     11
Tripura                                      9
Sikkim                                       9
Puducherry                                   6
Andaman And Nicobar Islands                  5
Dadra And Nagar Haveli And Daman And Diu     4
Goa                                          4
Chandigarh                                   2
Ladakh                                       2
Lakshadweep                                  1
Name: district, dtype: int64

In [32]:
problem_states = [
    "West Bengal",
    "Karnataka",
    "Uttar Pradesh",
    "Maharashtra",
    "Andhra Pradesh"
]

In [33]:
df[df['state']=="West Bengal"]['district'].value_counts()

district
north 24 parganas    3739
barddhaman           2988
south 24 parganas    2582
hooghly              2096
purba medinipur      1926
murshidabad          1854
paschim medinipur    1783
nadia                1703
kolkata              1557
jalpaiguri           1437
bankura              1303
howrah               1193
birbhum               966
east midnapore        951
darjeeling            950
bardhaman             929
cooch behar           855
haora                 818
puruliya              817
malda                 790
purba bardhaman       783
paschim bardhaman     673
west midnapore        564
koch bihar            552
uttar dinajpur        526
dakshin dinajpur      467
maldah                433
alipurduar            354
jhargram              307
purulia               256
darjiling             153
south dinajpur        149
north dinajpur        116
hugli                  81
kalimpong              73
medinipur              11
hawrah                  3
south 24 pargana        3
burdwan                 2
south dumdum            2
hooghiy                 1
east midnapur           1
bally jagachha          1
west medinipur          1
domjur                  1
Name: count, dtype: int64

In [34]:
wb_map = {
    "barddhaman": "purba bardhaman",
    "bardhaman": "purba bardhaman",
    "burdwan": "purba bardhaman",

    "west midnapore": "paschim medinipur",
    "west medinipur": "paschim medinipur",
    "east midnapore": "purba medinipur",
    "east midnapur": "purba medinipur",
    "medinipur": "paschim medinipur",

    "north dinajpur": "uttar dinajpur",
    "south dinajpur": "dakshin dinajpur",

    "koch bihar": "cooch behar",

    "haora": "howrah",
    "hawrah": "howrah",
    "hugli": "hooghly",
    "hooghiy": "hooghly",

    "maldah": "malda",

    "south 24 pargana": "south 24 parganas",

    "darjiling": "darjeeling"
}

df.loc[df['state']=="West Bengal", 'district'] = (
    df.loc[df['state']=="West Bengal", 'district']
    .replace(wb_map)
)

In [35]:
df[df['state']=="West Bengal"]['district'].nunique()

27

In [36]:
df[df['state']=="Karnataka"]['district'].value_counts()

district
bengaluru           2453
bangalore           2269
belgaum             2065
belagavi            1855
dakshina kannada    1786
uttara kannada      1222
mysore              1197
mysuru              1196
tumkur              1177
udupi               1138
tumakuru            1117
bijapur              928
vijayapura           899
davangere            891
hassan               888
bellary              858
shivamogga           851
mandya               844
dharwad              839
gulbarga             836
kalaburagi           820
shimoga              815
bagalkot             781
chitradurga          755
ballari              730
yadgir               669
raichur              665
chickmagalur         653
kolar                606
haveri               591
bidar                553
hasan                518
chikkamagaluru       492
koppal               488
gadag                457
chikkaballapur       438
kodagu               419
chamrajanagar        415
davanagere           391
ramanagar            382
vijayanagara         356
bangalore rural      303
chamrajnagar         180
bagalkot             129
chamarajanagar       116
chikmagalur           97
gadag                 88
haveri                79
bengaluru south       13
chamarajanagar        13
udupi                  2
bengaluru rural        1
Name: count, dtype: int64

In [37]:
karnataka_map = {
    "bangalore": "bengaluru urban",
    "bengaluru": "bengaluru urban",
    "bengaluru south": "bengaluru urban",
    "bangalore rural": "bengaluru rural",

    "belgaum": "belagavi",

    "mysore": "mysuru",

    "tumkur": "tumakuru",

    "bijapur": "vijayapura",

    "gulbarga": "kalaburagi",

    "shimoga": "shivamogga",

    "bellary": "ballari",

    "hasan": "hassan",

    "chickmagalur": "chikkamagaluru",
    "chikmagalur": "chikkamagaluru",

    "chamrajanagar": "chamarajanagar",
    "chamrajnagar": "chamarajanagar",

    "davangere": "davanagere"
}

df.loc[df['state']=="Karnataka", 'district'] = (
    df.loc[df['state']=="Karnataka", 'district']
    .replace(karnataka_map)
)

df[df['state']=="Karnataka"]['district'].nunique()

36

In [38]:
df[df['state']=="Uttar Pradesh"]['district'].value_counts()

district
lucknow         1142
jaunpur         1133
azamgarh        1100
kanpur nagar    1021
allahabad        993
                ...
kushinagar         6
raebareli          3
mahrajganj         3
bagpat             1
mahoba             1
Name: count, Length: 87, dtype: int64

In [39]:
up_map = {
    "allahabad": "prayagraj",
    "faizabad": "ayodhya",
    "raebareli": "rae bareli",
    "mahrajganj": "maharajganj",
    "bulandshahar": "bulandshahr",
    "bara banki": "barabanki",
    "sant ravidas nagar": "bhadohi",
    "sant ravidas nagar bhadohi": "bhadohi",
    "jyotiba phule nagar": "amroha",
    "bagpat": "baghpat"
}

df.loc[df['state']=="Uttar Pradesh", 'district'] = (
    df.loc[df['state']=="Uttar Pradesh", 'district']
    .replace(up_map)
)
df[df['state']=="Uttar Pradesh"]['district'].nunique()

77

In [40]:
df[df['state']=="Maharashtra"]['district'].value_counts()

district
pune                         3239
mumbai                       2410
ahmadnagar                   2014
thane                        1922
kolhapur                     1757
satara                       1696
nashik                       1646
solapur                      1597
ratnagiri                    1519
nagpur                       1490
sangli                       1433
jalgaon                      1340
raigarh                      1314
mumbai suburban              1245
nanded                        957
sindhudurg                    919
aurangabad                    911
amravati                      910
palghar                       811
yavatmal                      717
buldhana                      713
chandrapur                    700
mumbai city                   687
beed                          609
akola                         604
dhule                         590
osmanabad                     567
jalna                         557
latur                         550
raigad                        498
nandurbar                     459
buldana                       437
bhandara                      426
parbhani                      418
wardha                        388
ahmed nagar                   334
gadchiroli                    324
chhatrapati sambhajinagar     293
washim                        292
gondiya                       268
hingoli                       238
bid                           230
nandurbar                     110
gondiya                        99
dharashiv                      84
washim                         74
gondia                         56
chatrapati sambhaji nagar      25
hingoli                         2
Name: count, dtype: int64

In [41]:
mh_map = {
    "ahmadnagar": "ahmednagar",
    "ahmed nagar": "ahmednagar",

    "aurangabad": "chhatrapati sambhajinagar",
    "chatrapati sambhaji nagar": "chhatrapati sambhajinagar",

    "osmanabad": "dharashiv",

    "bid": "beed",

    "buldana": "buldhana",

    "gondia": "gondiya",

    "mumbai": "mumbai city",

    "raigarh": "raigad"
}

df.loc[df['state']=="Maharashtra", 'district'] = (
    df.loc[df['state']=="Maharashtra", 'district']
    .replace(mh_map)
)
df[df['state']=="Maharashtra"]['district'].nunique()

40

In [42]:
df[df['state']=="Andhra Pradesh"]['district'].value_counts()

district
east godavari                   2891
west godavari                   2363
krishna                         2339
guntur                          2211
prakasam                        2081
visakhapatnam                   2019
chittoor                        1964
kurnool                         1819
anantapur                       1714
nellore                         1657
cuddapah                        1605
srikakulam                      1468
ananthapuramu                   1394
ananthapur                      1378
vizianagaram                    1362
hyderabad                       1276
warangal                        1275
khammam                         1080
rangareddi                      1069
nalgonda                        1003
medak                            874
adilabad                         860
karimnagar                       818
mahabub nagar                    753
mahbubnagar                      669
n. t. r                          544
nizamabad                        489
alluri sitharama raju            479
eluru                            466
tirupati                         461
sri potti sriramulu nellore      456
kakinada                         445
sri sathya sai                   432
dr. b. r. ambedkar konaseema     420
nandyal                          401
palnadu                          380
annamayya                        361
parvathipuram manyam             353
y. s. r                          349
anakapalli                       331
bapatla                          285
karim nagar                      151
k.v.rangareddy                   145
k.v. rangareddy                   70
mahabubnagar                      35
Name: count, dtype: int64

In [43]:
ap_map = {
    "ananthapur": "anantapur",
    "ananthapuramu": "anantapur",

    "cuddapah": "ysr",
    "y. s. r": "ysr",

    "nellore": "sri potti sriramulu nellore",

    "rangareddi": "rangareddy",
    "k.v.rangareddy": "rangareddy",
    "k.v. rangareddy": "rangareddy",

    "mahabub nagar": "mahabubnagar",
    "mahbubnagar": "mahabubnagar",

    "karim nagar": "karimnagar",

    "n. t. r": "ntr"
}

df.loc[df['state']=="Andhra Pradesh", 'district'] = (
    df.loc[df['state']=="Andhra Pradesh", 'district']
    .replace(ap_map)
)
df[df['state']=="Andhra Pradesh"]['district'].nunique()

36

#hyderabad issue

In [44]:
df[df['district']=="hyderabad"]['state'].value_counts()

state
Telangana         1308
Andhra Pradesh    1276
Name: count, dtype: int64

In [45]:
df.loc[df['district']=="hyderabad", 'state'] = "Telangana"

In [46]:
df[df['state']=="Andhra Pradesh"]['district'].unique()

<StringArray>
[                'vizianagaram',                      'kurnool',
                     'warangal',                    'anantapur',
                   'srikakulam',                       'guntur',
                'visakhapatnam',                'west godavari',
                      'krishna',                     'adilabad',
               'sri sathya sai',                'east godavari',
                     'chittoor',                    'annamayya',
                          'ysr',                    'nizamabad',
                      'khammam',        'alluri sitharama raju',
                          'ntr',                     'prakasam',
                     'tirupati',  'sri potti sriramulu nellore',
                      'nandyal', 'dr. b. r. ambedkar konaseema',
         'parvathipuram manyam',                   'karimnagar',
                     'kakinada',                   'rangareddy',
                        'medak',                 'mahabubnagar',
                      'bapatla',                     'nalgonda',
                   'anakapalli',                        'eluru',
                      'palnadu']
Length: 35, dtype: str

In [47]:
telangana_districts = [
    "warangal", "adilabad", "nizamabad",
    "khammam", "karimnagar", "rangareddy",
    "medak", "mahabubnagar", "nalgonda"
]

In [48]:
df.loc[
    df['district'].isin(telangana_districts),
    'state'
] = "Telangana"

In [49]:
df.groupby('state')['district'].nunique()

state
Andaman And Nicobar Islands                  5
Andhra Pradesh                              26
Arunachal Pradesh                           25
Assam                                       37
Bihar                                       45
Chandigarh                                   2
Chhattisgarh                                40
Dadra And Nagar Haveli And Daman And Diu     4
Delhi                                       13
Goa                                          4
Gujarat                                     39
Haryana                                     23
Himachal Pradesh                            14
Jammu And Kashmir                           25
Jharkhand                                   32
Karnataka                                   36
Kerala                                      15
Ladakh                                       2
Lakshadweep                                  1
Madhya Pradesh                              60
Maharashtra                                 40
Manipur                                     11
Meghalaya                                   13
Mizoram                                     12
Nagaland                                    17
Odisha                                      38
Puducherry                                   6
Punjab                                      27
Rajasthan                                   37
Sikkim                                       9
Tamil Nadu                                  43
Telangana                                   40
Tripura                                      9
Uttar Pradesh                               77
Uttarakhand                                 15
West Bengal                                 27
Name: district, dtype: int64

In [50]:

df.groupby('district')['date'].nunique().describe()

count    860.000000
mean      15.948837
std        3.058176
min        0.000000
25%       17.000000
50%       17.000000
75%       17.000000
max       17.000000
Name: date, dtype: float64

##Exporting the cleaned data

In [51]:
df.to_csv(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\processed\aadhaar_enrolment_cleaned.csv", index=False, encoding="utf-8")

In [52]:
df['date'].isnull().sum()

np.int64(140964)

In [53]:
df.isnull().sum()

date            140964
state                0
district             0
pincode              0
bio_age_5_17         0
bio_age_17_          0
dtype: int64

In [54]:
df2 = pd.read_csv(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\api_data_aadhar_biometric_500000_1000000.csv")

In [55]:
df2.isnull().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [60]:
# state
df2.groupby('state')['date'].nunique().describe()

count    53.000000
mean     22.056604
std       7.996189
min       1.000000
25%      23.000000
50%      26.000000
75%      27.000000
max      27.000000
Name: date, dtype: float64

In [57]:
df3 = pd.read_csv(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\api_data_aadhar_biometric_1000000_1500000.csv")

In [58]:
df3.isnull().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [61]:
# state
df3.groupby('state')['date'].nunique().describe()

count    55.000000
mean     18.654545
std       6.658935
min       1.000000
25%      22.000000
50%      22.000000
75%      22.000000
max      22.000000
Name: date, dtype: float64