## Data Cleaning
#path =  "C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\api_data_aadhar_biometric_500000_1000000.csv"

In [2]:
#imports
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\test_data_new.csv")
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,1/3/2025,Haryana,Mahendragarh,123029,280,577
1,1/3/2025,Bihar,Madhepura,852121,144,369
2,1/3/2025,Jammu and Kashmir,Punch,185101,643,1091
3,1/3/2025,Bihar,Bhojpur,802158,256,980
4,1/3/2025,Tamil Nadu,Madurai,625514,271,815

In [4]:
df['date'].isnull().sum()

np.int64(0)

In [5]:
pd.set_option('display.max_rows', None)

unique_dates = sorted(df['date'].dropna().unique())

for d in unique_dates:
    print(d)

pd.reset_option('display.max_rows')

1/3/2025
1/4/2025
1/5/2025
1/6/2025
1/7/2025
1/9/2025
10/9/2025
11/9/2025
12/9/2025
13-09-2025
14-09-2025
15-09-2025
16-09-2025
17-09-2025
18-09-2025
19-09-2025
2/9/2025
3/9/2025
4/9/2025
5/9/2025
6/9/2025
7/9/2025
8/9/2025
9/9/2025

In [6]:
df['date'] = pd.to_datetime(
    df['date'].str.strip(),
    dayfirst=True,
    errors='coerce'
)

In [7]:
df['date'].isna().sum()

np.int64(140964)

In [8]:
df[df['date'].isna()]['date'].unique()

<DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[us]

In [11]:
raw_df = pd.read_excel(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\test_data.xlsx", engine="openpyxl")

raw_df['date'].dtype

dtype('O')

In [12]:
raw_df['date'].value_counts().head(20)

date
2025-09-09 00:00:00    23512
2025-08-09 00:00:00    23511
2025-10-09 00:00:00    23474
15-09-2025             23450
2025-11-09 00:00:00    23324
18-09-2025             23227
16-09-2025             23220
2025-12-09 00:00:00    23204
2025-01-09 00:00:00    23108
2025-02-09 00:00:00    22947
2025-03-09 00:00:00    22754
17-09-2025             22486
2025-01-07 00:00:00    22169
2025-01-06 00:00:00    21991
2025-01-05 00:00:00    21987
2025-01-03 00:00:00    21953
2025-04-09 00:00:00    21807
2025-01-04 00:00:00    21603
2025-06-09 00:00:00    21102
13-09-2025             21008
Name: count, dtype: int64

In [13]:
raw_df[~raw_df['date'].str.contains(r'\d', na=False)]['date'].unique()

array([datetime.datetime(2025, 1, 3, 0, 0),
       datetime.datetime(2025, 1, 4, 0, 0),
       datetime.datetime(2025, 1, 5, 0, 0),
       datetime.datetime(2025, 1, 6, 0, 0),
       datetime.datetime(2025, 1, 7, 0, 0),
       datetime.datetime(2025, 1, 9, 0, 0),
       datetime.datetime(2025, 2, 9, 0, 0),
       datetime.datetime(2025, 3, 9, 0, 0),
       datetime.datetime(2025, 4, 9, 0, 0),
       datetime.datetime(2025, 5, 9, 0, 0),
       datetime.datetime(2025, 6, 9, 0, 0),
       datetime.datetime(2025, 7, 9, 0, 0),
       datetime.datetime(2025, 8, 9, 0, 0),
       datetime.datetime(2025, 9, 9, 0, 0),
       datetime.datetime(2025, 10, 9, 0, 0),
       datetime.datetime(2025, 11, 9, 0, 0),
       datetime.datetime(2025, 12, 9, 0, 0)], dtype=object)

In [14]:
df['date'] = df['date'].astype(str).str.strip()

In [15]:
df['date'] = pd.to_datetime(
    df['date'],
    dayfirst=True,
    errors='coerce'
)

In [16]:
df['date'].isna().sum()

np.int64(140964)

##FINAL CLEANING

In [17]:
df2 = pd.read_excel(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\raw\test_data.xlsx", engine="openpyxl")

In [18]:
df2['date'].apply(type).value_counts()

date
<class 'datetime.datetime'>    359036
<class 'str'>                  140964
Name: count, dtype: int64

In [21]:
import datetime

mask = df2['date'].apply(lambda x: isinstance(x, str))

df2.loc[mask, 'date'] = pd.to_datetime(
    df2.loc[mask, 'date'],
    dayfirst=True,
    errors='coerce'
)

In [22]:
df2['date'] = pd.to_datetime(df2['date'])

In [23]:
df2['date'].isna().sum()

np.int64(0)

In [24]:
df2['date'].dtype

dtype('<M8[us]')

In [26]:
df2['date'].nunique()
df2['date'].min(), df2['date'].max()

(Timestamp('2025-01-03 00:00:00'), Timestamp('2025-12-09 00:00:00'))

In [25]:
df2.to_csv(r"C:\Users\hp\Desktop\4th sem\AI_Training\Projects\Udaai_adhaar\data\processed\test_cleaned.csv", index=False, encoding="utf-8")